*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}

body{
    display: flex;    
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.registration-form{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    background-color: #efefef;
    padding: 40px;

}

.registration-form h1{
    font-size: 30px;
    text-align: center;
}
#form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#form div input{
    padding: 10px;
}

#form div input:focus{
    outline: none;
    border: 1px solid #000;
}

#form div button{
    padding: 10px;
}


.btn{
    border: 2px solid #232323;
    padding: 20px 60px;
    background: none;
    font-size: 18px;
}
